.side-bar {
  box-shadow: 0px 3px 5px 0px #d6d5d5;
  padding: 1em;
  height: 100vh;
  width: 20%;
}

.side-bar ul {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.side-bar ul li {
  width: 100%;
}

.side-bar ul li a {
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  width: 100%;
  transition: 200ms all ease-in-out;
}

.side-bar a:hover {
  background-color: #c7fcc7;
}

.active {
  background-color: #c7fcc7;
}

@media (max-width: 991px) {
  li span {
    display: none;
  }
  .side-bar ul li a {
    justify-content: center;
  }
}
