nav {
  box-shadow: 0px 0px 5px 0px #d6d5d5;
  height: 8vh;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-content .btn {
  padding: 0.3em 1em;
}
