* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "cairo", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #2c9e2c;
  color: rgb(249, 251, 253);
  border-radius: 10px;
  transition: all 300ms;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #207020;
}

/* Form */

.parent {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.parent form {
  width: 60%;
  padding: 2% 4%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #d6d5d5;
}

.field,
form button,
form h3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field label,
.field input,
form button {
  font-size: 0.9em;
  transition: all 300ms;
}

form button,
.field input {
  padding: 0.6em 0.8em;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #d6d5d5;
}

.field {
  gap: 5px;
}

form h3 {
  text-align: center;
  font-size: 2em;
  color: #2c9e2c;
}

.field input:focus {
  outline: none;
  box-shadow: 0px 0px 4px 0px #4c8eb4;
}

.error {
  color: #ff0000;
  font-size: 0.9em;
}

